﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
	CodeBehind="About.aspx.cs" Inherits="BeisbolData_Web_XML_Database_Update.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
	<h2>
		Sobre BeisbolData Game Processor
	</h2>
	<p>
		¿Qué puedo decir? Soy un genio!
		<br />
		<% Response.Write(DateTime.Now.ToShortDateString()); %>
		<br />
		<% Response.Write(DateTime.Now.ToLongTimeString()); %>
		<br />
		<% Response.Write(DateTime.Now.Hour.ToString()); %>
		<%
      
            BeisbolData.Data.EventRepository er = new BeisbolData.Data.EventRepository();
            Response.Write("Este: " + er.GetRetroID(2012, 1, 2) + "FIN");
			
			string testFile = Request.PhysicalApplicationPath + @"temp\checkNEW.txt";
			System.IO.StreamWriter myWriter = new System.IO.StreamWriter(testFile);
			myWriter.WriteLine("This is a test");
			myWriter.WriteLine(DateTime.Now.ToLongTimeString());
			myWriter.Flush();
			myWriter.Close();

            //System.IO.File.Delete("c:\\temp\\hola.txt");
            
            //System.IO.StreamWriter myWriter3 = new System.IO.StreamWriter("c:\\temp\\hola.txt");
            //myWriter3.WriteLine("This is a test");
            //myWriter3.WriteLine(DateTime.Now.ToLongTimeString());
            //myWriter3.Flush();
            //myWriter3.Close();
			
            //try
            //{
            //    string testFile2 = Request.PhysicalApplicationPath + @"temp\tempdir.txt";
            //    System.IO.StreamWriter myWriter2 = new System.IO.StreamWriter(testFile2);
            //    foreach (var item in System.IO.Directory.GetFiles("c:\\temp\\"))
            //    {
            //        System.IO.FileInfo p = new System.IO.FileInfo(item);
            //        myWriter2.WriteLine(item + " - " + System.IO.File.GetCreationTime(item).ToLongDateString() + "-"
            //        + System.IO.File.GetCreationTime(item).ToLongTimeString());
            //        myWriter2.WriteLine(item + " - " + p.LastWriteTime.ToLongDateString() + "-"
            //        + p.LastWriteTime.ToLongTimeString() +
            //        " - " + p.CreationTime.ToLongDateString() + "-" + p.CreationTime.ToLongTimeString());
            //    }

            //    foreach (var item in System.IO.Directory.GetDirectories("C:\\temp\\"))
            //    {
            //        var p = new System.IO.DirectoryInfo(item);
            //        myWriter2.WriteLine(item + " - " + p.CreationTime.ToShortDateString() + "-" + p.CreationTime.ToLongTimeString());
            //    }
            //    myWriter2.Flush();
            //    myWriter2.Close();
            //}
            //catch (Exception ex)
            //{
            //    Response.Write(ex.ToString());
            //    //throw;
            //}

	        //try
	        //{
	        //    string destino=System.Web.HttpContext.Current.Request.PhysicalApplicationPath + @"temp\gameeventsTEST.xml";
	        //    System.IO.File.Copy("C:\\temp\\gameevents2.xml", destino);
	        //}
	        //catch (Exception)
	        //{
	        //    throw;
	        //}
		%>
	</p>
</asp:Content>
